html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Lato, Helvetica, sans-serif;
}


.header {
    background-image: url('/images/tasktide_abstract.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
    height: 190px;
    color: white;
    margin-left: 260px;
    z-index: 1000;
}

section {
    display: flex;
}

/* Style the sidebar */
nav {
    width: 260px; 
    background: #5F8165;
    padding: 30px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; 
}

.nav-link {
    color: white;
    font-size: 20px;
}

.nav-pic {
    display: block; 
    text-decoration: none;
    padding-bottom: 60px;
}

.nav-pic img {
    width: auto;
    height: 120px;
}

nav a {
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    background-color: #4F5752;
    color: white !important;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    flex: 1; 
    background-color: #f1f1f1;
    padding-left: 290px;
    padding-right: 40px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left i {
    margin-right: 10px;
    font-size: 25px;
}

.header-bottom-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-bottom: 60px;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.grid-item {
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.span-two-rows-and-columns {
    grid-column: span 2;
    grid-row: span 2;
}

.task-stats {
    text-align: center;
    display: flex;
    align-items: center; 
    justify-content: center;
}


.task-stats h1 {
    margin: 0;
    font-family: 'Arial', sans-serif; 
    font-size: 7em;
    font-weight: bold; 
}

.task-stats p {
    margin: 10px 0 0;
}

.upcoming-deadlines {
    background-color: #fff;
    padding: 50px;
}

.upcoming-deadlines h2 {
    font-family: 'Lato', sans-serif;
    font-size: 3em; 
    color: #333; 
}

.upcoming-deadlines ul {
    list-style-type: none;
    padding: 0;
}

.upcoming-deadlines li {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

.upcoming-deadlines li a {
    color: #5F8165;
    text-decoration: none; 
    font-weight: bold;
}

.upcoming-deadlines li a:hover {
    text-decoration: underline;
}

.task-stats.card {
    background-color: #5F8165;
    color: white;
}

.task-stats.card.overdue {
    background-color: #BB5353;
}

.task-stats.card.due-soon {
    background-color: #A5AE69;
}

.table thead th {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #4F5752;
}

.table tbody td a {
    font-size: 18px;
    color: #5F8165;
    text-decoration: none;
    font-weight: bold;
    margin-right: 8px;
}

.table tbody td {
    font-size: 18px;
    color: #4F5752;
    text-decoration: none;
    font-weight: bold;
}

.table tbody td a:hover {
    text-decoration: underline;
}

.filter-form {
    margin: 0 auto;
}

.form-control {
    width: 100%; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.btn-danger {
    background-color: #BB5353;
    border-color: #BB5353;
}

.btn-primary {
    background-color: #5F8165;
    border-color: #5F8165;
}

.btn-primary:hover {
    background-color: #4F5752;
    border-color: #4F5752;
}

.green-box-header {
    background-color: #5F8165;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.btn-like {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #4F5752;
    color: white !important;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: 380px;
}

.btn-like:hover {
    background-color: #5F8165;
}

a.btn-like {
    color: white;
}

.empty-view-container {
    padding-top: 40px;
    text-align: center;
}

.empty-view {
    width: 800px; 
    height: auto; 
    border-radius: 10px;
}


@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
    }

    .header-bottom-left h1 {
        font-size: 25px;
    }

    .header {
        margin-left: 0; 
        margin-top: 260px;
        height: auto; 
        padding: 20px; 
    }

    nav {
        width: 100%; 
        padding: 20px; 
        height: auto; 
    }

    .nav-link {
        font-size: 16px; 
    }

    .nav-pic {
        padding-bottom: 30px; 
    }

    .nav-pic img {
        height: 80px; 
    }

    article {
        padding: 20px; 
    }

    .container {
        padding-top: 40px;
        padding: 10px; 
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
    }

    .grid-item {
        padding: 10px; 
    }

    .span-two-rows-and-columns {
        grid-column: auto; 
        grid-row: auto; 
    }

    .task-stats h1 {
        font-size: 3em;
    }

    .btn-like {
        margin-left: 0px;
    }

    .upcoming-deadlines h2 {
        padding-top: 25px;
        font-size: 2em;
    }

    .green-box-header h1 {
        font-size: 23px;
    }

    .table thead th {
        font-size: 15px;
    }

    .table tbody td a {
        font-size: 13px;
    }

    .table tbody td {
        font-size: 13px;
    }

    .details-view {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 960px) {
    .header-bottom-left h1 {
        font-size: 25px;
    }

    .container {
        padding-top: 40px;
        padding: 10px; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
    }

    .grid-item {
        padding: 10px; 
    }

    .span-two-rows-and-columns {
        grid-column: auto; 
        grid-row: auto; 
    }

    .task-stats h1 {
        font-size: 3em;
    }

    .btn-like {
        margin-left: 55px;
    }

    .upcoming-deadlines h2 {
        padding-top: 25px;
        font-size: 2em; 
    }

    .green-box-header h1 {
        font-size: 23px;
    }

    .table thead th {
        font-size: 15px;
    }

    .table tbody td a {
        font-size: 13px;
    }

    .table tbody td {
        font-size: 13px;
    }

    .details-view {
        padding-left: 10px;
    }

    .empty-view-container {
        padding-top: 40px;
        text-align: center;
    }

    .empty-view {
        width: 400px;
        height: auto;
        border-radius: 10px;
    }
}